@import '@fontsource/open-sauce-two';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Open Sauce Two', sans-serif;
	background-color: transparent !important;
	user-select: none !important;
}

body {
	display: flex;
	justify-content: center;
}

img {
	pointer-events: none;
}