@import '@fontsource/lora';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Lora';
    background-color: transparent !important;
}

body {
    display: flex;
    justify-content: center;
}