@import '@fontsource/lora';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Lora';
	background-color: transparent !important;
	user-select: none !important;
}

body {
	display: flex;
	justify-content: center;
}

img {
	pointer-events: none;
}